// ------------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------------

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 769px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1425px;

// ------------------------------------------------------------------
// CONTAINER BREAKPOINTS
// ------------------------------------------------------------------

$container-sm: 680px;
$container-md: 720px;
$container-lg: 1140px;
$container-xl: 1200px;

// ------------------------------------------------------------------
// Padding
// ------------------------------------------------------------------

$padding-section: 30px;

// ------------------------------------------------------------------
// COLORS
// ------------------------------------------------------------------

$color-primary: 			#1e64c8; 
$color-secondary: 			#649ae8;
$color-third:               #1ebfc8;
$color-spot: 				#8686A7;
$color-white: 				#fff;
$color-grey: 				#707070;
$color-dark: #000;

$color-link: 				$color-primary;

// ------------------------------------------------------------------
// FONT
// ------------------------------------------------------------------

$font-weight-regular:		400;
$font-weight-semibold:	    500;